## Import modules

In [1]:
import requests
import csv
from bs4 import BeautifulSoup

## Access the HTML content from the webpage

In [2]:
website = requests.get("https://www.imdb.com/chart/top?ref_=nv_mv_250")
soup = BeautifulSoup(website.content, "html")

## Extract details about movies and write into csv file

In [3]:
csvfile = open ('IMDb Top 250 Movies', 'w', encoding='utf-8') 
writer = csv.writer(csvfile) 
writer.writerow(['movie_rank', 'movie_name', 'movie_year', 'movie_rate'])

movies = soup.find("tbody", class_ = "lister-list").find_all("tr")  # 250
for movie in movies:
    movie_rank = movie.find("td", class_ = "titleColumn").get_text(strip=True).split(".")[0]
    movie_name = movie.find("td", class_ = "titleColumn").a.text
    movie_year = movie.find("td", class_ = "titleColumn").span.text.strip("()")
    movie_rate = movie.find("td", class_ = "ratingColumn imdbRating").strong.tex
    
    writer.writerow([movie_rank, movie_name, movie_year, movie_rate]) 
    
csvfile.close()

## Import Pandas Library

In [4]:
import pandas as pd

## Loading scraping data from csv file into Dataframe

In [5]:
Dataframe = pd.read_csv("IMDb Top 250 Movies.csv")
Dataframe

     movie_rank                movie_name  movie_year  movie_rate
0             1  The Shawshank Redemption        1994         9.2
1             2             The Godfather        1972         9.2
2             3           The Dark Knight        2008         9.0
3             4     The Godfather Part II        1974         9.0
4             5              12 Angry Men        1957         8.9
..          ...                       ...         ...         ...
245         246               Dersu Uzala        1975         8.0
246         247                   Aladdin        1992         8.0
247         248                    Gandhi        1982         8.0
248         249                  The Help        2011         8.0
249         250            The Iron Giant        1999         8.0

[250 rows x 4 columns]