## Import needed modules

In [1]:
import pandas as pd
import csv

## Creating DataFrame from dictionaries

In [2]:
df = pd.DataFrame (
    data = {
        'Name'  : ['Rana','Ahmed','Reem','Mohamed'],
        'Major' : ['CS', 'CS', 'IS', 'IS'],
        'Age'   : [20, 20, 19, 19]
    }
)
df

      Name Major  Age
0     Rana    CS   20
1    Ahmed    CS   20
2     Reem    IS   19
3  Mohamed    IS   19

## Write to csv

In [3]:
df.to_csv ('data.csv',index = False)

## Creating new DataFrame from dictionaries

In [4]:
new_df = pd.DataFrame (
    data = {
        'Name'  : ['Omnia','Amgad','Yomna','Shahd'],
        'Major' : ['CS', 'IS', 'CS', 'IT'],
        'Age'   : [19, 20, 19, 20]
    }
)
new_df

    Name Major  Age
0  Omnia    CS   19
1  Amgad    IS   20
2  Yomna    CS   19
3  Shahd    IT   20

## Creating a connection to the csv file

In [5]:
File = open('data.csv', 'a', newline = '')
writer = csv.writer(File)
writer.writerows(new_df.iloc)
File.close()